html{
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	font-size: 10px;
}
body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main{
	background-color: gainsboro;
	padding: 10px;
	margin: 30px 8px;
	border-radius: 5px;
	width: auto;
	height: auto;
}

#title{
	text-align: center;
	font-size: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	font-size: 21px;
}
#img-caption {
  margin: 15px 0 5px 0;
}
#img-div{
	background-color: #fff;
	margin: 10px auto;
	padding: 10px auto;
	border-radius: 5px;
}
#image{
	max-width: 100%;
	padding: 7px 40px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
#tribute-info{
	text-align: center;
	font-size: 22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#headline {
  margin: 50px 0;
  text-align: center;
}

ul{
	text-align: left;
	margin: 0 auto 50px auto;
	max-width: 550px;
	line-height: 1.6;
}
li{
	margin: 15px;
}
